/*create header*/
body{
    margin: 0%;
}

header{
    width: auto;
    height: 130px;
    background-color: rgba(2, 133, 255, 0.874);
    background-image: url(./img/pattern.png);
    background-size: 500px;
    background-repeat: repeat-x;
}

#logo{
    width: 300px;
    margin-top: 50px;
    margin-left: 10px;
}
/*/create header*/

/*margin main*/
main{
    margin-left: 10px;
}
/*/margin main*/

/*create title and subtitle*/
#title{
    font-size: 30px;
}

.grey{
    font-size: 23px;
    color: rgba(0, 0, 0, 0.422);
}

#date{
    font-size: 18px;
     color: rgba(0, 0, 0, 0.422);
}

#booleaner{
    font-size: 23px;
    color: rgb(0, 200, 255);
}
/*/create title and subtitle*/

/*insert image and description*/
#description{
    font-size: 13px;
    margin-top: 1px;
}
/*/insert image and description*/

/*insert paragraph*/
.paragraph{
    font-size: 18px;
    font-style: normal;
    
}
.yellow{
    background-color: yellow;
}
/*/insert paragraph*/

/*insert unordered list*/
ul{
    margin-left: opx;
    padding-left: 15px;
    font-size: 18px;
}
/*insert unordered list*/

/*insert table*/
#table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

td{
    width: 1px;
}

#thead{
    background-color: rgba(0, 166, 255, 0.862);
    color: white;
}

.border{
    
}

#azure{
    background-color: rgba(0, 166, 255, 0.288);

}
/*/insert table*/

/*margin space*/
section{
    margin-top: 50px;
}
/*margin space*/

/*create footer*/
footer{
    margin-top: 80px;
    
}

#img1{
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    height: 208px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

#img2{
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    height: 208px;
    color: white;
    font-size: 15px;
}
/*/create footer*/







  

